<!DOCTYPE html>
<html>
  <head>
    <title>RailsWithoutWebpack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= javascript_include_tag '/snowpacks/packs/application.js', type: "module" %1> %>
    <script src="/snowpacks/packs/application.js" type="module"></script>

    <script>
      window.HMR_WEBSOCKET_URL = "ws://localhost:4035"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
