<!DOCTYPE html>
<html>
  <head>
    <title>RailsWithoutWebpack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag '/snowpacks/packs/application', 'data-turbolinks-track': 'reload', type: 'module' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
