<!DOCTYPE html>
<html>
  <head>
    <title>RailsWithoutWebpack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= snowpacker_javascript_tag "application" %>
    <script>
      window.HMR_WEBSOCKET_URL = "ws://localhost:4035"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
