<!DOCTYPE html>
<html>
  <head>
    <title>Railsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="http://localhost:4035/entrypoints/application.js" type="module"></script>
    <script>window.HMR_WEBSOCKET_URL = "ws://localhost:4035"</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
