<!DOCTYPE html>
<html>
  <head>
    <title>Railsapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '/snowpacks/application', type: "module" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
