<!DOCTYPE html>
<html>
  <head>
    <title>Railsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag '/snowpacks/application', type: "module" %>
    <script>window.HMR_WEBSOCKET_URL = "ws://localhost:4035"</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
