<!DOCTYPE html>
<html>
  <head>
    <title>Railsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "/snowpacks/javascript/application.js", type: "module", skip_pipeline: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
